@model MTACodersLicence.ViewModels.GroupViewModels.GroupChallengeViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Assign Challenges to Group @ViewBag.GroupName</h2>


<hr />
<div class="row">
    <div class="col-md-6">
        <h4>Available Challenges</h4>
        <hr />
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Challenge Name
                    </th>
                    <th>
                        Duration (minutes)
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var challenge in Model.AvailableChallenges)
                {
                    <tr>
                        <td>@challenge.Name</td>
                        <td>@challenge.Time</td>
                        <td><a asp-action="AddChallenge" asp-route-challengeId="@challenge.Id" asp-route-groupId="@ViewBag.GroupId" class="btn btn-success">Add</a></td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
    <div class="col-md-6">
        <h4>Assigned Challenges</h4>
        <hr />
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Challenge Name
                    </th>
                    <th>
                        Duration
                    </th>
                    <th>
                        Assign Date
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var challenge in Model.AssignedChallenges)
                {
                    <tr>
                        <td>@challenge.Challenge.Name</td>
                        <td>@challenge.Challenge.Time</td>
                        <td>@challenge.AssignDate</td>
                        <td><a asp-action="RemoveChallenge" asp-route-challengeId="@challenge.ChallengeId" asp-route-groupId="@challenge.GroupId" class="btn btn-danger">Remove</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<a asp-controller="Group" asp-action="Index" class="btn btn-default">Back to Groups</a>