@model IEnumerable<MTACodersLicence.Models.ProgrammingLanguageModel>

@{
    ViewData["Title"] = "Languages";
}

<h2>Programming Languages</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Activated
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodeTemplate)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Available)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CodeTemplate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit Code Template</a>
                    @if (item.Available)
                    {
                        <a asp-action="Deactivate" asp-route-id="@item.Id" class="btn btn-danger">Deactivate</a>
                    }
                    else
                    {
                        <a asp-action="Activate" asp-route-id="@item.Id" class="btn btn-success">Activate</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
