@model MTACodersLicence.Models.BatteryModels.BatteryModel

@{
    ViewData["Title"] = "Battery Details";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            Challenge Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Challenge.Name)
        </dd>
    </dl>
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Tests)
        </dt>
        <dd>
            <table class="table">
                <thead>
                    <tr>
                        <th>Input</th>
                        <th>Expected Output</th>
                        <th>Points</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Tests != null)
                    {
                        foreach (var test in Model.Tests)
                        {
                            <tr>
                                <td>@test.Input</td>
                                <td>@test.ExpectedOutput</td>
                                <td>@test.Points</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </dd>
    </dl>
</div>
<div align="center">
    <a asp-action="Index" asp-route-challengeId="@Model.ChallengeId" class="btn btn-default">Back to List</a>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
</div>
