@model IEnumerable<MTACodersLicence.Models.BatteryModels.BatteryModel>

<h3 class="table-bordered" style="background-color: azure">Test Batteries for Challenge: <a asp-controller="Challenge" asp-action="Details" asp-route-id="@ViewData["challengeId"]"> @ViewData["challengeName"]</a></h3>

<p>
    <a asp-action="Create" asp-route-challengeId="@ViewData["challengeId"]" class="btn btn-success" style="float: right">Create New Test Battery</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tests)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPublic)
            </th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                @if (item.Tests != null)
                {
                    <td> @item.Tests.Count</td>
                }
                else
                {
                    <td>0</td>
                }

                @if (item.IsPublic)
                {
                    <td>Yes</td>
                }
                else
                {
                    <td>No</td>
                }
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" asp-route-challengeId="@ViewData["challengeId"]" class="btn btn-warning">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" asp-route-challengeId="@ViewData["challengeId"]" class="btn btn-success">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" asp-route-challengeId="@ViewData["challengeId"]" class="btn btn-danger">Delete</a>
                    <a asp-controller="Test" asp-action="Index" asp-route-batteryId="@item.Id" class="btn btn-default">Tests</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-controller="Challenge" asp-action="Index" asp-route-contestId="@ViewBag.ContestId" class="btn btn-default">Back to Challenges</a>
