@model IEnumerable<MTACodersLicence.Models.GroupModels.GroupChallengeModel>

@{
    ViewData["Title"] = "Assigned Challenges";
}

<h2>Assigned Challenges</h2>

<hr />
<table class="table">
    <thead>
    <tr>
        <th>
            Challenge Name
        </th>
        <th>
            Duration
        </th>
        <th>
            Actions
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var challenge in Model)
    {
        <tr>
            <td>@challenge.Challenge.Name</td>
            <td>@challenge.Challenge.Time</td>
            <td>
                <a asp-controller="Coding" asp-action="Index" asp-route-id="@challenge.ChallengeId" class="btn btn-success">Start</a>
                <a asp-action="RemoveChallenge" asp-route-challengeId="@challenge.ChallengeId" asp-route-groupId="@challenge.GroupId" class="btn btn-warning">Ranking</a>
            </td>
        </tr>
    }
    </tbody>
</table>
<a asp-controller="Group" asp-action="Index" class="btn btn-default">Back to Groups</a>