@model MTACodersLicence.ViewModels.GroupViewModels.GroupContestViewModel

@{
    ViewData["Title"] = "Assign Contests";
}

<h2>Assign Contests to Group @ViewBag.GroupName</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <h4>Available Contests</h4>
        <hr />
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Contests Name
                    </th>
                    <th>
                        Starts on
                    </th>
                    <th>
                        Lasts
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var contest in Model.AvailableContests)
                {
                    <tr>
                        <td>@contest.Name</td>
                        <td>@contest.StartDate</td>
                        <td>@contest.Duration min</td>
                        <td><a asp-action="AddContests" asp-route-contestId="@contest.Id" asp-route-groupId="@ViewBag.GroupId" class="btn btn-success">Add</a></td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
    <div class="col-md-7 col-md-offset-1">
        <h4>Assigned Contests</h4>
        <hr />
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Contest Name
                    </th>
                    <th>
                        Starts on
                    </th>
                    <th>
                        Lasts
                    </th>
                    <th>
                        Assign Date
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var groupContest in Model.AssignedContests)
                {
                    <tr>
                        <td>@groupContest.Contest.Name</td>
                        <td>@groupContest.Contest.StartDate</td>
                        <td>@groupContest.Contest.Duration min</td>
                        <td>@groupContest.AssignDate</td>
                        <td>
                            @if (groupContest.Contest.Active)
                            {
                                <a asp-action="ToogleActivation" asp-route-contestId="@groupContest.ContestId" asp-route-groupId="@groupContest.GroupId" asp-route-active="0" class="btn btn-warning">Deactivate</a>
                            }
                            else
                            {
                                <a asp-action="ToogleActivation" asp-route-contestId="@groupContest.ContestId" asp-route-groupId="@groupContest.GroupId" asp-route-active="1" class="btn btn-success">Activate</a>
                            }
                            <a asp-action="RemoveContest" asp-route-contestId="@groupContest.ContestId" asp-route-groupId="@groupContest.GroupId" class="btn btn-danger">Remove</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<a asp-controller="Group" asp-action="Index" class="btn btn-default">Back to Groups</a>