@model IEnumerable<MTACodersLicence.Models.TestModels.TestModel>

@{
    ViewData["Title"] = "Tests";
}
<h3 class="table-bordered" style="background-color: azure">Tests for Battery: <a asp-controller="Battery" asp-action="Details" asp-route-id="@ViewData["batteryId"]"> @ViewData["batteryName"]</a></h3>

<p>
    <a asp-action="Create" asp-route-batteryId="@ViewData["batteryId"]" class="btn btn-success" style="float: right">Create New Test</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Input)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpectedOutput)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Points)
        </th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Input)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpectedOutput)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Points)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
<a asp-controller="Battery" asp-action="Index" asp-route-challengeId="@ViewData["challengeId"]" class="btn btn-default">Back</a>
