@model MTACodersLicence.Models.SolutionModels.SolutionModel

@{
    ViewData["Title"] = "Solution Details";
}

<h3>Solution Details</h3>
<div id="loading" style="display: none;">
    <div id="loadingmsg">Running Battery Tests, please wait...</div>
    <div id="loadingover"></div>
    <div class="loader"></div>
</div>
<div>
    <hr />
    <div class="col-md-6">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Verified)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Verified)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Score)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Score)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ReceiveDateTime)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ReceiveDateTime)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Duration)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Duration)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Challenge)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Challenge.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Language)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Language)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Owner)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Owner.UserName)
            </dd>
        </dl>
        <hr />
        <h4>Batteries</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Challenge.Batteries.FirstOrDefault().Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Challenge.Batteries.FirstOrDefault().Tests)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Challenge.Batteries.FirstOrDefault().IsPublic)
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Challenge.Batteries != null)
                {
                    foreach (var battery in Model.Challenge.Batteries)
                    {
                        <tr>
                            <td>
                                <a asp-controller="Battery" asp-action="Details" asp-route-id="@battery.Id">@battery.Name</a>
                            </td>
                            @if (battery.Tests != null)
                            {
                                <td> @battery.Tests.Count</td>
                            }
                            else
                            {
                                <td>0</td>
                            }

                            @if (battery.IsPublic)
                            {
                                <td>Yes</td>
                            }
                            else
                            {
                                <td>No</td>
                            }
                            <td>
                                <a asp-action="Run" asp-route-id=@Model.Id asp-route-batteryId=@battery.Id class="btn btn-success" onclick="showLoading();">Run tests</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-6 table-bordered">
        <h4>Code:</h4>
        <pre id="editor" name="editor">@Model.Code</pre>
    </div>
</div>
<div>
    <a asp-action="Index" class="btn btn-default" asp-route-challengeId="@Model.ChallengeId">Back to Solutions</a>
</div>
<script src="~/lib/Ace/src/ace.js"></script>
<script src="~/js/coding.js"></script>
<script>
    var code = editor.getSession().getValue();
    var code2 = code.split('\\\"').join('"');
    editor.setValue(code2);
    editor.setOptions({
        readOnly: true,
        highlightActiveLine: false,
        highlightGutterLine: false
    });
    editor.renderer.$cursorLayer.element.style.opacity = 0;
    function showLoading() {
        document.getElementById('loading').style.display = 'block';
    }
</script>