@model IEnumerable<MTACodersLicence.Models.ChallengeModels.ChallengeModel>
@using Newtonsoft.Json
@{
    ViewData["Title"] = "Challenges";
}
<h2>Challenges</h2>
<div class="col-md-2 col-md-offset-5">
    <div class="row" style="margin-top: -60px; margin-bottom: 20px">
        <button type="button" class="btn btn-default btn-sm" onclick="toggleTime()">
            <span class="glyphicon glyphicon-time" style="font-size: 1.2em;">
                <p id="time" style="color: red"></p>
            </span>
        </button>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dificulty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExecutionTimeLimit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemoryLimit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortDescription)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dificulty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExecutionTimeLimit) s
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MemoryLimit) kb
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShortDescription)
                </td>
                <td>
                    <div class="row">
                        @if (@item.Active)
                        {
                            <a asp-controller="Coding" asp-action="Index" asp-route-id="@item.Id" class="btn btn-success action">Start</a>
                        }
                        <a asp-action="Ranking" asp-route-id="@item.Id" class="btn btn-warning action">Ranking</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>


<div>
    <a asp-controller="Contest" asp-action="Index" class="btn btn-default">Back to Contests</a>
</div>
<script>
    initTime();
// functie de initializare timp ramas
    function initTime() {
        var minutesS = @ViewData["remainingTime"];
        var minutes = parseInt(minutesS);
        var hours = Math.floor(minutes / 60);
        if (hours !== 0)
            minutes = minutes % (hours * 60);
        var seconds = 0;
        // functie care se actualizeaza la fiecare secunda
        var x = setInterval(function() {
            // afisam timpul
            document.getElementById("time").innerHTML = hours + "h " + minutes + "m " + seconds + "s ";
            if (seconds === 0)
                if (minutes === 0)
                    if (hours === 0) {
                        clearInterval(x);
                        document.getElementById("time").innerHTML = "EXPIRED";
                        alert("Timpul a expirat! Orice sursa trimisa de acum incolo nu va fi salvata in baza de date si deci, nu va fi luata in considerare!");
                    } else {
                        hours--;
                        minutes = 59;
                        seconds = 59;
                    }
                else {
                    minutes--;
                    seconds = 59;
                }
            else {
                seconds--;
            }
        }, 1000);
    }
    // functie ascundere timp
    function toggleTime() {
        $('#time').fadeToggle('fast');
    }
</script>