@model IEnumerable<MTACodersLicence.ViewModels.RankingViewModel>

@{
    ViewData["Title"] = "Ranking";
    var rank = 1;
}

<h2>Ranking</h2>

<table class="table">
    <thead>
    <tr>
        <th style="color: red">
            Rank
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SentBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Score)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalExecutionTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalMemoryUsed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Language)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grade)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @(rank++)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SentBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Score)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalExecutionTime) s
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalMemoryUsed) Kb
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Language)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Grade)
                </td>
                <td></td>
            </tr>
        }
    </tbody>
</table>
